<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <!-- link to main stylesheet -->
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/"><img src="/img/logo.png" alt="CadRacks logo" height="64" width="64"></a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/doc">Documentation</a></li>
                <li><a href="/issues">Issues</a></li>
            </ul>
        </nav>
        <div class="container">

        {{ content }}

        </div><!-- /.container -->
        <footer>
            <ul>
                <li><a href="http://www.cadracks.org">cadracks.org</a></li>
                <li><a href="https://github.com/cadracks">github.com/cadracks</a></li>
                <li><a href="https://github.com/cadracks/gitea/issues">github.com/cadracks/gitea/issues</a></li>
                <li><a href="mailto:cadracks@tutanota.com">email</a></li>
            </ul>
        </footer>
    </body>
</html>